* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  width: 95%;
  margin: auto;
  overflow: hidden;
}
html {
  font-size: 62.5%;
}

:root {
  --heading-color: #484848;
  --para-color: #777;
  --primary-color: #ff9f0d;
}

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .container {
    max-width: 800px;
  }
}

/* ///////////////////////////////////////// */
center h1 {
  font-size: 4rem;
  padding: 3rem 0;
  margin: 4rem 0;
  background: aqua;
}
center p {
  width: 95vw;
  font-size: 2rem;
  background: antiquewhite;
  padding: 2rem 1rem;
}
footer {
  margin-top: 3rem;
  padding: 3rem;
  background: darkgray;
  font-size: 1.5rem;
}
